body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    color: #000000;
    min-width: 1260px;
    font-size: 16px;
    line-height: 27px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.visually-hidden {
    margin: 0;
    display: none;
}

.header {
    margin: 0;
    color: #FFFFFF;
    background-image: url(img/miami-condo-view.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;
}

.menu-header,
.header__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-header__icon-close {
    background-image: url(img/icons/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;    
    align-self: center;
    cursor: pointer;
}

.header__logo {
    margin: 0 auto;
}

.header__menu {
    background-color: #0075FF;
    min-width: 1260px;
    padding-bottom: 146px;
    padding-top: 24px;
}

.nav {
    margin-top: 48px;
}

.nav__list,
.contacts__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;    
    text-transform: uppercase;
    padding-bottom: 32px;  
}

.nav__link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__link--hover:hover {
    border-bottom: 1px solid #FFFFFF;
}

.menu__callback,
.header__phone-number {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.menu__callback {
    margin-top: 12px;
}

.menu__phone-number {
    margin: 0;
    margin-bottom: 16px;
}

.menu__call-link {    
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    padding-bottom: 5px;
}

.header__wrap {
    padding-top: 24px;
}

.header__icon-burger {
    background-image: url(img/icons/icon-burger-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;    
    align-self: center;
}

.header__icon-burger--hover:hover {
    background-image: url(img/icons/icon-burger-menu-hover.svg);
    cursor: pointer;
}

.header__callback {
    text-align: right;
    align-self: center;
    position: relative;
    
}

.header__call-link {
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    background-image: url(img/icons/icon-phone-call.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    
}

.header__call-link:hover + .visually-hidden {
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    
}

.header__phone-number {
    position: absolute;
    right: 40px;
    top: 7px;
    
}

.header__line-title {
    width: 40px;
    border-top: 2px solid #FFFFFF;
    margin-top: 329px; 
    margin-bottom: 24px;
}

.header__title {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    margin: 0;
    width: 498px;
       
}

.description {
    padding-top: 104px;
    padding-bottom: 104px;
}

.description__slogan,
.gallery__title,
.feedback__title,
.contacts__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    margin: 0;
}

.description__slogan span,
.description__text-lead,
.gallery-content__desc span,
.gallery__btn,
.feedback__author {
    color: #0075FF;
    font-weight: bold;
}

.description__text-lead,
.feedback__author {
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    margin-top: 0;
}

.description__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.gallery__title,
.feedback__title,
.contacts__title {
    text-align: center;
}

.gallery__icon,
.feedback__icon,
.contacts__icon {
    margin: 0 auto;
    background-image: url(img/icons/icon-corona-virus.svg);
    width: 24px;
    height: 24px;
}

.gallery-content {
    padding-top: 56px;
    padding-bottom: 104px;
}

.gallery-content__list {
    margin: 0;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 256px 27px;  
    row-gap: 24px; 
    column-gap: 24px;
}

.gallery-content__img {
    border-radius: 8px;
}

.gallery__btn {
    background-color: transparent;
    width: 150px;
    height: 56px;
    border: 2px solid #0075ff;
    border-radius: 8px;     
    margin: 0 auto;
    display: block;   
}

.gallery__btn--hover:hover {
    background-color: #005ECC;
    color: #FFFFFF;
    box-shadow: 0 13px 27px 0 rgba(0, 83, 181, 0.46);
}

.gallery__btn--active:active {
    background-color: #005ECC;
    color: #FFFFFF;
    box-shadow: 0 8px 14px 0 rgba(0, 83, 181, 0.48);
}

.btn {
    line-height: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.feedback__wrap {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}

.feedback__post,
.item-contacts__title {
    color: #9FADC2;
    font-size: 14px;   
}

.feedback__author,
.feedback__post,
.feedback__quote-text {
    margin: 0;
    padding-bottom: 10px;
}

.feedback__quote {
    margin: 0;
    width: 324px;
    text-align: center;
}

.feedback__img {
    border-radius: 50%;
}

.contacts__wrap {
    padding-top: 69px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
}

.contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
       "item__phone item__address"
       "item__email item__address";
    width: 411px;
    height: 148px;
    column-gap: 111px;
}

.item__phone {
    grid-area: item__phone;    
}

.item__email {
    grid-area: item__email;    
}

.item__address {
    grid-area: item__address; 
}

.item-contacts__title,
.item-contacts__contact {
    margin: 0;
}

.item-contacts__contact {
    margin-top: 10px;
}

.contacts__form {
    width: 411px;
}

.form__element {
    width: 388px;
    height: 48px;
    background-color: #F6F8FF;
    border-radius: 8px;
    border: 2px solid #F6F8FF;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    padding-left: 17px;
}

.form__element input {
    padding-left: 17px;
}

.form__element-textarea {
    height: 144px;
    resize: none;
    font-size: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    padding-top: 14px;
}

.form__element--hover:hover {
    border: 2px solid #CCD0E0;
}

.form__element--focus:focus {
    outline: none;
    border: 2px solid #0075FF;
}

.form__element--active:active {
    border: 2px solid #0075FF;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8F99A8;
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto", "Arial", sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8F99A8;
   opacity:  1;
   font-size: 14px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8F99A8;
   opacity:  1;
   font-size: 14px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #8F99A8;
   font-size: 14px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #8F99A8;
   font-size: 14px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #8F99A8;
   font-size: 14px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
}

.form__btn {
    color: #FFFFFF;
    background-color: #0075FF;
    width: 411px;
    height: 56px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.form__btn--hover:hover {
    background-color: #005ECC;
    color: #FFFFFF;
    box-shadow: 0 13px 27px 0 rgba(0, 83, 181, 0.46);
}

.form__btn--active:active {
    background-color: #005ECC;
    color: #FFFFFF;
    box-shadow: 0 8px 14px 0 rgba(0, 83, 181, 0.48);
}

.footer {
    background-image: url(img/miami-city.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 247px;
    padding-bottom: 32px;
}

.footer__logo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

@media (max-width: 320px) {    
    .header__title {
        font-size: 48px;
        line-height: 48px;
        width: 280px;
    }

    body,
    .header__menu {
        min-width: 320px;
    }

    .container {
        max-width: 280px;
    }

    .description__slogan,
    .gallery__title,
    .feedback__title,
    .contacts__title {
        font-size: 36px;
        line-height: 36px;
    }

    .description__container {
        display: block;    
    }

    .description__slogan {
        margin-bottom: 48px;
    }

    .gallery-content__img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .gallery-content__list {
        grid-template-rows: 130px 27px; 
        row-gap: 16px;
        column-gap: 20px;
    }

    .gallery-content__desc {
        grid-column: 1 / 3;
    }

    .btn {
        width: 100%;
    }

    .feedback__wrap {
        flex-direction: column;
        row-gap: 45px;
    }

    .feedback__quote {
        max-width: 100%;
    }
 
    .contacts__wrap {
        flex-direction: column;
        row-gap: 32px;
        max-width: 100%;
    }

    .contacts__list {
        display: block;
        height: 290px;
        max-width: 100%;
    }

    .contacts__item {
        margin-bottom: 24px;
    }

    .contacts__form {
        max-width: 100%;
    }

    .form__element {
        width: 257px;
    }



}